@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Sora:wght@100..800&display=swap');
@import "tailwindcss";



body {
  font-family: 'DM Sans', sans-serif;
  max-width: 1500px;
}

.text-Sora {
  font-family: 'Sora', sans-serif;
}
.text-DM {
  font-family: 'DM Sans', sans-serif;
}
